---
---
@use "main";

//Tabs Style Settings//
html 
{
  font-size: 1rem; 
}


* {
  margin: 0 auto;
  box-sizing:border-box;
  font-family: Roboto, sans-serif;
}

body {
  background: url('/assets/images/chain.jpg') no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  body {
    background-attachment: scroll; 
  }
}

#content {
  max-width:50vw;
  padding: 10px;
}
@media (min-width: 760px){
	#content{
	max-width: 50vw;
 }
}
.tabContainer {
  background: #333;
  border: .45px solid #555;
  margin-top: 0px;
  //margin: 0 auto;
}
.tabContent {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: auto;
  min-height:600px;
  color:#fff;
  
}

/* Hide all but first tab */
.tabContent > div:not(:first-child) {
  display: none;
}

.tabContainer > .tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

}
.tabs li {
  float: left;
  display: flex;
  flex: 1;
}
.tabs {
flex-wrap: wrap;
}
.tabs a {
  position: relative;
  background: #222;
  border-top: 3px solid rgba(0,0,0,0);
  padding: 0.8em 0.5em;
  text-align: center;
  float: left;
  text-decoration: none;
  color: #888;
  margin: 0 .1em 0 0;
  font-size: 0.9em;
  flex: 1;
  transition: all .35s ease;
}
.tabs a.active {
  border-top: 3px solid #f39d77;
  color: #fff;
  background: inherit;
}
.tabs a:hover {
  background: inherit;
  color: #fff;
}
//Tabs Style Settings end//

//flex settings
.video-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
}

video {
max-width: 100%;
height: auto;
}
//flex settigns