<!doctype html>
<html>
  <head>
    <script src="{{ '/assets/js/tabs.js' | relative_url }}"></script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
	{% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
    
    {{ content }}

    <div id="content">
      <div class="tabContainer">
        <ul class="tabs">
          <li><a href="javascript:void(0);" class="active" onclick="openTab(event, 'tab1')">Portfolio</a></li>
          <li><a href="javascript:void(0);" onclick="openTab(event, 'tab2')">CV</a></li>
          <li><a href="javascript:void(0);" onclick="openTab(event, 'tab3')">About</a></li>
        </ul>
        <div class="tabContent">
	  <div id="tab1" class="tab-pane active">
            <h1><strong>Nutscue</strong></h1>
			<div class="video-container">
    <iframe 
        class="responsive-iframe"
        src="https://www.youtube.com/embed/N5QU-fuM_ig" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>
			
			
					<p><a href="https://futuregames.itch.io/nutscue" style="color: red;"> Check out the itch.io page!</a></p>
			<p>
			During this production period I was programming lead and worked primarily on architectural and foundational systems.
			</p>
			<p>To showcase a portion of my work here are some clips of the damage system and checkpoint system our game used.</p>
			<p>I also produced the trailer!</p>
			
		<div style="display: flex-container; flex-direction; align-items">
		<br>
					<h5>Damage System-Normal Gameplay: </h5>
			<video class="responsive-video" controls>
				<source src="/assets/videos/HurtboxNormal.webm" type="video/webm" />
			</video>
		</div>
		<div style="display: flex-container; flex-direction; align-items">
		<br>		
				<h5>Damage System-Exposed mesh: </h5>		
			<video class="responsive-video" controls>
				<source src="/assets/videos/HurtboxExposed.webm" type="video/webm" />
			</video>
		</div>
		<div>
		<p>
		<div style="display: flex-container; flex-direction; align-items">
		<br>
					<h5>Checkpoint System-Spawn Test: </h5>
			<video class="responsive-video" controls>
				<source src="/assets/videos/Checkpoint1.webm" type="video/webm" />
			</video>
		</div>
		<div style="display: flex-container; flex-direction; align-items">
		<br>		
				<h5>Checkpoint System-Checkpoint Updated: </h5>		
			<video class="responsive-video" controls>
				<source src="/assets/videos/Checkpoint2.webm" type="video/webm" />
			</video>
		</div>
		</p>
		<br>
		
		</div>
		            <h1>
					<strong>Bungeon</strong>
					</h1>
	</div>
	


          <div id="tab2" class="tab-pane">
			<embed src="/assets/docs/English_CV2025_Indra_Cosimo.pdf" width="800px" height="2100px" />
          </div>
          <div id="tab3" class="tab-pane">
            <span>I guess linkedin and all that. <b>BORING!</b>.</span>
          </div>
        </div>
      </div>
    </div>

    <script>
      function openTab(evt, tabId) 
	  {
        let i, tabContent, tabs;

        // Hide tab content to prevent overlap
        tabContent = document.getElementsByClassName("tab-pane");
        for (i = 0; i < tabContent.length; i++) 
		{
          tabContent[i].style.display = "none";
        }

        // Removes "active" class from all tabs, otherwise the highlight persists
        tabs = document.getElementsByClassName("tabs")[0].getElementsByTagName("a");
        for (i = 0; i < tabs.length; i++) 
		{
          tabs[i].classList.remove("active");
        }

        // Marks highlighted tab as active
        document.getElementById(tabId).style.display = "block";
        evt.currentTarget.classList.add("active");
      }

      // Initialize by showing the first tab
      document.addEventListener("DOMContentLoaded", function() 
	  {
        document.getElementById("tab1").style.display = "block";
      });
    </script>
  </body>
</html>
